@import'utils/variables';
@import'utils/base';
@import'utils/hidden';

@import'components/header';
@import'components/logo';
@import'components/site-nav';
@import'components/contact-address';
@import'components/overlay';
@import'components/hero';
@import'components/section-title';
@import'components/benefits';
@import'components/work-area';
@import'components/team';
@import'components/social-link';




.button-nav{
   display: flex;
   justify-content: center;
}
.button-nav .item{
   display: block;
   margin-right: 8px;
   margin-bottom: 50px;
   /* outline: 1px solid black; */
}
.button-nav .item:last-child{
   margin-right: 0;
}
/* button */
.button{
   display: block;
   padding: 6px 22px;
   color:var( --title-text-color);
   background-color: var(--button-secondary-color);
   border-style: none;
   border-radius: 4px;
   font-family:'Roboto', sans-serif;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.63;
   letter-spacing: .03em;
   cursor: pointer;

   transition-property: color, background-color, box-shadow;
   transition-duration: 250ms;
   transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1) ;
}
.button:hover,
.button:focus{
   color: var(--button-text-color);
   background-color:var(--accent-color);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.button:active{
   color: var(--button-text-color);
   background-color:var(--accent-color);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* .button .primary{
   color: var(--button-text-color);
   background-color: var(--accent-color);

}
.button .secondary{
   color: var(--title-text-color);
   background-color: var(--button-secondary-color);
} */
   
/* our clients */
.our-clients-title{
   font-family: 'Roboto', sans-serif;
   font-style: normal;
   font-weight: 700;
   font-size: 36px;
   line-height: 1.16;
   text-align: center;
   letter-spacing: 0.03em;
   color: #212121;
   margin-top: 0;
   margin-bottom: 50px;

}
.our-clients-list{
   display: flex;
   margin: 0;
   padding: 0;
   justify-content: space-between;
   align-items: center;
}

.our-clients-link{
   display: flex;
   width: 170px;
   justify-content: center;
   align-items: center;
   height: 92px;
   border: 1px solid #AFB1B8;
   border-radius: 4px;

   transition-property: border;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.our-clients-link:hover,
.our-clients-link:focus{
   border: 1px solid var(--accent-color);
   outline: none;
}
.our-clients-link:hover .client-icon,
.our-clients-link:focus .client-icon{
   fill:var(--accent-color)
}
.client-icon{
   width: 106px;
   height: 60px;
   fill: var(--color-icon);

   transition-property: fill;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   
}


/* footer */
.footer-box{
   text-align: start;
   flex-grow: 1;
}
.footer-items{
    background-color: var(--hero-section-color); 
    padding: 60px 0;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
}
.footer-items .logo{
    display: block;
    margin-bottom:20px;
   
    color: var(--button-text-color);
    font-family:'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0,03em; 
    text-decoration: none;
}

.footer-nav .link{
   display: block;
           
   font-family:'Roboto', sans-serif;
   font-weight: 400;
   font-size: 14px;
   line-height: 1.71;
   letter-spacing: .03em;
   text-decoration: none;
   font-style: normal;
}
.footer-nav .link{
   color: var(--footer-text-color);
}
.footer-nav .address-point {
    color: var(--button-text-color);
    display: block;
           
    font-family:'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: .03em;
    text-decoration: none;
    font-style: normal;
}
.social-box{
   flex-grow: 1;
}
.social-title{
   font-family: 'Roboto', sans-serif;
   font-style: 700;
   font-size: 14px;
   line-height: 1,14;
   text-align: left;
   vertical-align: top;
   letter-spacing: 0,03em;
   text-transform: uppercase;
   color:var(--button-text-color);
   padding-bottom: 20px;
   margin:0;

}
.flex{
   display: flex;
   gap: 70px;
   align-items: baseline;
}

.footer-nav .item:not(:last-child){
   margin-bottom: 10px;
}
.footer-items-icon{
   max-width: 206px;
   display:flex;
   margin: 0;
   padding: 0;
   gap:10px;
   
}
.footer-icon-item{
   display: flex;
   justify-content: center;
   align-items: center; 
   
   list-style-type: none;
   text-align: center;
   text-decoration: none;
   margin: 0;
   border-radius: 50%;
   background-color: rgba(255, 255, 255, 0.1);
}
.footer-link-team{
   display: flex;
   border-radius: 50%;
   width: 44px;
   height: 44px;
   justify-content: center;
   align-items: center;

   transition-property: background-color;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.footer-link-team:hover,
.footer-link-team:focus{
   background-color:var(--accent-color);
   outline: none;
}
.footer-link-team:hover .footer-icon,
.footer-link-team:focus .footer-icon{
   fill: var(--button-text-color);
}
.footer-icon{  
   

   display: block;
   fill:var(--button-text-color);
}
.input-block{
   display: flex;
}
.input-style{
   width: 358px;
   height: 50px;
   border: 1px solid rgba(255, 255, 255, 0.3);
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
   border-radius: 4px;
   background-color: transparent;
   padding-left: 16px;
   margin-right: 12px;
   color: #FFFFFF;

   font-size: 16px;
   font-weight: normal;
   line-height: 1.25;
   letter-spacing: 0.03em;
}
.email-button{
   display: inline-flex;
   align-items: center;
   justify-content: center;
   width: 200px;
   height: 50px;
   background-color: var(--accent-color);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   border-radius: 4px;
   border: none;
   
   font-weight: 700;
   font-size: 16px;
   line-height: 1.87;
   letter-spacing: 0.06em;
   color: #FFFFFF;
}
.email-button::after{
   content:"";
   width: 24px;
   height: 24px;
   background-image: url('../images/icon-send1.svg');
   background-size: contain;
   margin-left: 10px;
   
}


.work-list{
   display: flex;
   flex-wrap:wrap;
}
.work-list .item{
   width: 370px;
   margin-bottom: 30px;
   margin-right: 30px;
   transition-property: box-shadow; 
   transition-duration: 250ms;
   transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1); 

   
   
   
}
.work-list .item:hover,
.work-list .item:focus{
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   cursor: pointer;
}
.work-list .item:nth-child(3n){
   margin-right: 0;
}
.work-list .item:nth-last-child(-n+3){
   margin-bottom: 0;
}
.work-list .item-inner{
   text-align: left;
   padding: 20px 24px;
   border-bottom: 1px solid var(--border-poster-color);
   border-left: 1px solid var(--border-poster-color);
   border-right: 1px solid var(--border-poster-color);

}
.work-list-thumb{
   position: relative;
   overflow: hidden;
}

.work-list .item .work-list-thumb::before{
   position: absolute;
   content:'';

   width: 100%;
   height: 100%;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   background-color: rgba(33, 150, 243, 0.9);
   opacity: 1;
   transform: translateY(100%);
   transition-property: transform;
   transition-duration: 250ms;
   transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);

}
.work-list .item:hover .work-list-thumb::before,
.work-list .item:focus .work-list-thumb::before{
    transform: translateY(0%);

}


.work-list .item:hover .work-thumb-text{
   
   transform: translateY(0%);
   
   
}
.work-list-thumb .work-thumb-text{
   position: absolute;
   top: 0;

   width: 100%;
   height: 100%;
   
   padding: 63px 24px;
   font-family: 'Roboto';
   font-weight: 400;
   font-size: 18px;
   line-height: 1.56;
   letter-spacing: 0.03em;
   text-align: start;
   color:var(--button-text-color);

   transform: translateY(100%);
   transition-property: transform;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   


   
}


.work-list .title{
    
    margin-bottom: 4px;
    
    color: var(--title-text-color);
    
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: .06em;
    text-transform: none;
    
}
.work-list p{
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: .03em;
    margin-top: 0;
    margin-bottom: 0;
}
/* backdrop */
.backdrop{
   position: fixed;
   top: 0;
   left: 0;
   
   width: 100%;
   height: 100%;
  
   background-color:rgba(0, 0, 0, 0.2);
   transition-property: opacity, visibility;
   transition-duration: 1000ms;
   transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1) ;
}

.modal{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
  
   min-width: 528px;
   min-height: 581px;
   
   background-color:var(--button-text-color);
   box-shadow:  0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 4px;
}
.modal-button{
   
   display: flex;
   justify-content: center;
   align-items: center;

   width: 30px;
   height: 30px;
   border-radius: 50%;
   padding: 0;
   border: none;
   margin-left: auto;
   margin-right: 8px;
   margin-top: 8px;
   color:black;
   background-color: #FFFFFF;
   stroke: rgba(0, 0, 0, 0.1);

   transition-property: background-color, color;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   
}
.modal-button:hover{
   background-color:#ffffff ;
   color: #2196F3;
   stroke:rgba(0, 0, 0, 0.1);
}
.modal-icon{
   display: block;
   
   fill: currentColor;
}
.form{
   margin: 0 40px 40px 40px;
}
.form-title{
   font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 1.15;
text-align: center;
letter-spacing: 0.03em;

color: #212121;

margin-bottom: 12px;
}
.form-field{
   margin-bottom: 10px;
   display: flex;
   flex-direction: column;
}

.form-label{
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 12px;
   line-height: 1.16;
   letter-spacing: 0.01em;
   color: #757575;
   margin-bottom: 4px;
}
.form-input{
   padding: 12px;
   padding-left: 40px;
   border: 1px solid rgba(33, 33, 33, 0.2);
   border-radius: 4px;
}
.form-input:focus{
   border: 1px solid var(--accent-color);
   outline: none;
}
.input-thumb{
   position: relative;
   width: 100%;
}
.input-thumb .form-input{
   display: block;
   width: 100%;
}
.input-thumb .form-input:focus+.user-icon{
   fill: var(--accent-color);
}
.user-icon{
   position: absolute;
   top:50%;
   left:12px;
   transform: translateY(-50%);

   transition-property: fill;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}
.icon-phone-black{
   position: absolute;
   top:50%;
   left:12px;
   transform: translateY(-50%);
  
   transition-property: fill;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.input-thumb .form-input:focus+.icon-phone-black{
   fill: var(--accent-color);
}
.input-thumb .form-input:focus+.icon-email-black{
   fill: var(--accent-color);
}
.form-field-coment{
   display: block;
   margin-bottom: 20px;
   
}
.icon-email-black{
   position: absolute;
   top:50%;
   left:12px;
   transform: translateY(-50%);
   transition-property: fill;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
} 
.textarea-coment{
   display: block;
   resize: none;
   width: 448px;
   height: 120px;
   background: #FFFFFF;
   border: 1px solid rgba(33, 33, 33, 0.2);
   border-radius: 4px;
   font-family: 'Roboto';
   font-weight: 400;
   font-size: 12px;
   line-height: 1.16;
   letter-spacing: 0.01em;
   color: rgba(117, 117, 117, 0.5);
   padding: 12px;

}
.textarea-coment:focus{
   outline: none;
   border: 1px solid var(--accent-color);
}
.form-field-coment .form-label{
   display: block;
   width: 100%;
}

.form-field-police{
   display: flex;
   width: 100%;
   margin-bottom: 30px;
   justify-content: center;
  
}

.form-input-police{
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0000);
   overflow: hidden;

}
.form-input-police:checked:focus+.checkbox-icon{
   background-color: var(--accent-color);
   background-image: url('../images/icon-check1.svg');
   background-repeat: no-repeat;
   background-size: contain;
   background-origin: border-box;
   border-color: var(--accent-color);
   background-position: center;
}
.checkbox-icon{
   display: inline-block;
   width: 16px;
   height: 15px;
   border: 1px solid #000000;
   border-radius: 3px;
   margin-right: 8px;
   
}

.label-link{
   color: var(--accent-color);
   padding-left: 8px;
}
.form-field-button{
   display: flex;
   justify-content: center;
}
.form-button{
   width: 200px;
   height: 50px;
   color: var(--button-text-color);
   background-color: var(--accent-color);
   border-radius: 4px;
   border: none;
   
   font-weight: 700;
   font-size: 16px;
   line-height: 1.9;
   letter-spacing: 0.06em;
}
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   

