@import'utils/variables';
@import'utils/base';
@import'utils/hidden';

@import'components/header';
@import'components/logo';
@import'components/site-nav';
@import'components/contact-address';
@import'components/overlay';
@import'components/hero';
@import'components/section-title';
@import'components/benefits';
@import'components/work-area';
@import'components/team';
@import'components/social-links';
@import'components/our-clients';
@import'components/footer';
@import'components/button';
@import'components/work-list';


/* backdrop */
.backdrop{
   position: fixed;
   top: 0;
   left: 0;
   
   width: 100%;
   height: 100%;
  
   background-color:rgba(0, 0, 0, 0.2);
   transition-property: opacity, visibility;
   transition-duration: 1000ms;
   transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1) ;
}

.modal{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
  
   min-width: 528px;
   min-height: 581px;
   
   background-color:var(--button-text-color);
   box-shadow:  0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 4px;
}
.modal-button{
   
   display: flex;
   justify-content: center;
   align-items: center;

   width: 30px;
   height: 30px;
   border-radius: 50%;
   padding: 0;
   border: none;
   margin-left: auto;
   margin-right: 8px;
   margin-top: 8px;
   color:black;
   background-color: #FFFFFF;
   stroke: rgba(0, 0, 0, 0.1);

   transition-property: background-color, color;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   
}
.modal-button:hover{
   background-color:#ffffff ;
   color: #2196F3;
   stroke:rgba(0, 0, 0, 0.1);
}
.modal-icon{
   display: block;
   
   fill: currentColor;
}
.form{
   margin: 0 40px 40px 40px;
}
.form-title{
   font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 1.15;
text-align: center;
letter-spacing: 0.03em;

color: #212121;

margin-bottom: 12px;
}
.form-field{
   margin-bottom: 10px;
   display: flex;
   flex-direction: column;
}

.form-label{
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 12px;
   line-height: 1.16;
   letter-spacing: 0.01em;
   color: #757575;
   margin-bottom: 4px;
}
.form-input{
   padding: 12px;
   padding-left: 40px;
   border: 1px solid rgba(33, 33, 33, 0.2);
   border-radius: 4px;
}
.form-input:focus{
   border: 1px solid var(--accent-color);
   outline: none;
}
.input-thumb{
   position: relative;
   width: 100%;
}
.input-thumb .form-input{
   display: block;
   width: 100%;
}
.input-thumb .form-input:focus+.user-icon{
   fill: var(--accent-color);
}
.user-icon{
   position: absolute;
   top:50%;
   left:12px;
   transform: translateY(-50%);

   transition-property: fill;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}
.icon-phone-black{
   position: absolute;
   top:50%;
   left:12px;
   transform: translateY(-50%);
  
   transition-property: fill;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.input-thumb .form-input:focus+.icon-phone-black{
   fill: var(--accent-color);
}
.input-thumb .form-input:focus+.icon-email-black{
   fill: var(--accent-color);
}
.form-field-coment{
   display: block;
   margin-bottom: 20px;
   
}
.icon-email-black{
   position: absolute;
   top:50%;
   left:12px;
   transform: translateY(-50%);
   transition-property: fill;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
} 
.textarea-coment{
   display: block;
   resize: none;
   width: 448px;
   height: 120px;
   background: #FFFFFF;
   border: 1px solid rgba(33, 33, 33, 0.2);
   border-radius: 4px;
   font-family: 'Roboto';
   font-weight: 400;
   font-size: 12px;
   line-height: 1.16;
   letter-spacing: 0.01em;
   color: rgba(117, 117, 117, 0.5);
   padding: 12px;

}
.textarea-coment:focus{
   outline: none;
   border: 1px solid var(--accent-color);
}
.form-field-coment .form-label{
   display: block;
   width: 100%;
}

.form-field-police{
   display: flex;
   width: 100%;
   margin-bottom: 30px;
   justify-content: center;
  
}

.form-input-police{
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0000);
   overflow: hidden;

}
.form-input-police:checked:focus+.checkbox-icon{
   background-color: var(--accent-color);
   background-image: url('../images/icon-check1.svg');
   background-repeat: no-repeat;
   background-size: contain;
   background-origin: border-box;
   border-color: var(--accent-color);
   background-position: center;
}
.checkbox-icon{
   display: inline-block;
   width: 16px;
   height: 15px;
   border: 1px solid #000000;
   border-radius: 3px;
   margin-right: 8px;
   
}

.label-link{
   color: var(--accent-color);
   padding-left: 8px;
}
.form-field-button{
   display: flex;
   justify-content: center;
}
.form-button{
   width: 200px;
   height: 50px;
   color: var(--button-text-color);
   background-color: var(--accent-color);
   border-radius: 4px;
   border: none;
   
   font-weight: 700;
   font-size: 16px;
   line-height: 1.9;
   letter-spacing: 0.06em;
}
